.order{
  &__credit{
    width:300px;
    padding:2rem;
    margin:auto;
    border:1px solid
  }
  &__subtitle{
    font-size:1.2em;
    padding:.8rem;
  }
  &__container{
    max-width: 1024px;
    padding:2rem;
   margin:auto;
  }
  &__button{
      margin:auto;
      width: 50%;
      border:2px solid;
      box-shadow: none;
      background-color: #fff;
      padding:.5rem;
  
  }
   &__article{
     padding:.8rem;
     border-bottom:1px solid;
     margin-bottom:1rem;
     display:flex;
     flex-direction: column;
     justify-content:space-evenly;
     
     align-items:center;
     
     @media(min-width:768px){
       flex-direction: row;
     } 
     
     &__item{
     display:flex;
     align-items: center;
    margin:.5rem;


 
  }
     &__image{
    max-width:100px;
  }
 
  &__description{
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    width:70%;
    @media(min-width:768px){
     flex-direction: row;
   } 
  }
 }
 &__footer{
   display:flex;
   flex-direction: column;
   @media (min-width:768px) {
   align-items: flex-end;
 
   } 
   &__total{
   display: flex;
   flex-direction:column;
  
   margin-bottom: .5rem;
     @media (min-width:768px) {
       flex-direction: row;
       justify-content: space-between;
       width: 50%;
     }
   }
   
 } 
 }
 .StripeElement {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  max-width:500px;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  margin-bottom:1rem;
 }

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
 
 