@import url(https://fonts.googleapis.com/css?family=opensans:500);

.error{
  position: fixed;
  width: 100%;
  margin-top: 8em;
}

.clouds {
  text-align: center;
  display: block;
  position: relative;
  width: 80%;
  margin: 0 auto;
}

._404 {
  font-size: 7rem;
  display: inline-block;
  margin: .2rem auto;
  z-index: 2;
  letter-spacing: 1rem;
}

.p1 {
  text-align: center;
  display: block;
  position: relative;
  margin: 2rem auto;
  letter-spacing: 12px;
  font-size: 3rem;
  line-height: 80%;
}

.p2 {
  text-align: center;
  display: block;
  position: relative;
  margin: 2rem auto;
  font-size: 1.7rem;
}

.container-text {
  width: 80%;
  margin:2rem auto;
  color: #7141d1;
  font-size: 1.7rem;
  text-align: center;
  position: static;
  display: inline-block;
  z-index: 3;
  line-height: 1.2em;
}

.btn {
  background-color: rgb(190, 190, 190);
  position: relative;
  display: inline-block;
  padding: 1.5rem;
  z-index: 5;
  font-size: 1.5rem;
  margin: 1em auto;
  color: #7141d1;
  text-decoration: none;
}

.right {
  float: right;
  width: 60%;
}

.cloud {
  width: 350px;
  height: 120px;
  background: #FFF;
  border-radius: 100px;
  position: absolute;
  margin: 120px auto 20px;
  z-index: -1;
  transition: ease 1s;
  }

.cloud:after,
.cloud:before {
  content: '';
  position: absolute;
  background: #FFF;
  z-index: -1
}

.cloud:after {
width: 100px;
height: 100px;
top: -50px;
left: 50px;
border-radius: 100px;
}

.cloud:before {
width: 180px;
height: 180px;
top: -90px;
right: 50px;
border-radius: 200px;
}

.x1 {
top: -50px;
left: 100px;
transform: scale(0.3);
opacity: 0.9;
animation: moveclouds 15s linear infinite;
}

.x1_5 {
top: -80px;
left: 250px;
transform: scale(0.3);
animation: moveclouds 17s linear infinite;
}

.x2 {
left: 250px;
top: 30px;
transform: scale(0.6);
opacity: 0.6;
animation: moveclouds 25s linear infinite;
}

.x3 {
left: 250px;
bottom: -70px;
transform: scale(0.6);
opacity: 0.8;
animation: moveclouds 25s linear infinite;
}

.x4 {
left: 470px;
bottom: 20px;
transform: scale(0.75);
opacity: 0.75;
animation: moveclouds 18s linear infinite;
}

.x5 {
left: 200px;
top: 300px;
transform: scale(0.5);
opacity: 0.8;
animation: moveclouds 20s linear infinite;
}

.page{
  min-height: 88vh !important;
}

@keyframes moveclouds {
  0% {
    margin-left: 900px;
  }

  100% {
    margin-left: -900px;
  }
}

@media only screen and (min-width:768px){
  ._404{
    font-size: 11rem;
  }
  .container-text{
    width: 22rem;
    margin: 5rem auto;
  }
  .error{
    margin-top: 11rem;
  }
}
