.admin{
  &__title{
    font-size:2em;
    align-self:center;
    color:black;
    margin-bottom: 1rem;
  }
  &__subtitle{
    font-size:1.2em;
    margin-bottom: 1rem;
    display: flex;
    align-items:center;
  }
  &__mainContainer{
    background:rgb(255, 255, 255);
    padding:2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: auto;
  }
  &__first__row__wrapper{
    
    display :flex;
    justify-content: space-between;
  }
  &__articles{  
    width:50%;
    
    background-color: rgb(255, 255, 255);
    &__modify{
    
    padding: 0 1rem;
    overflow:scroll;
    overflow-x: hidden;
    max-height:80vh;
    transform-origin: 50% 0;
    transition:transform 1s ease;
      &::-webkit-scrollbar {
        display: none;
      }  
    }


    &__item{
      
      display:flex;
      justify-content:space-between;
      background-color: rgb(200, 235, 255);
      padding:1rem;
      border-radius: .5rem;
      margin-bottom: 1rem;
      &__image{
        height:50px;
      }
     &__stock{
       font-size:.8em;
     } 
  }
}
 
  &__orders{
    &__container{
      width:45%;
    }

    display: flex;
    flex-direction: column;
    &__item{
      background-color: whitesmoke;
      padding:1rem;
      border-radius: .5rem;
      margin-bottom: 1rem;
      &--pending{
        background-color: rgb(255, 177, 177);
      }
    }
    &__button{
      background-color: whitesmoke;
      border:none;
      box-shadow: none;
      padding:1rem;
      border-radius: .5rem;
      margin:1rem 1rem;
      
    }

  }
}