.admin{
  &__title{
    font-size:2em;
    align-self:center;
    color:black;
    margin-bottom: 1rem;
  }
  &__subtitle{
    font-size:1.2em;
    margin-bottom: 1rem;
    display: flex;
    align-items:center;
  }
  &__mainContainer{
    background:rgb(224, 224, 224);
    padding:2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: auto;
  }
  &__articles{
    
    display :flex;
    
    &__item{
      display:flex;
      justify-content:space-between;
      background-color: whitesmoke;
      padding:1rem;
      border-radius: .5rem;
      margin-bottom: 1rem;
      &__image{
        height:50px;
      }
     &__stock{
       font-size:.8em;
     } 
  }
}
 
  &__orders{
    display: flex;
    flex-direction: column;
    
     &__item{
      background-color: white;
      padding:1rem;
      border-radius: .5rem;
      margin-bottom: 1rem;
      &--pending{
        background-color: rgb(255, 177, 177);
      }
     }
    &__button{
      background-color: white;
      padding:1rem;
      border-radius: .5rem;
      margin:1rem 1rem;
      
    }
    

  }
}