.admin{
  &__header{
    height:100px;
    color:white;
    background-color: #5221c6;
    padding:2rem;
    position:fixed;
    top:0;
    left :0;
    right:0;
    display:flex;
    justify-content: space-between;
    &__link{
      margin: 1rem;
    }
  }
  &__title{
    font-size:2em;
    align-self:center;
    color:white;
    margin-bottom: 1rem;
  }
  &__subtitle {
    font-size:1.2em;
    margin-bottom: 1rem;
    display: flex;
    align-items:center;
    flex-direction: column;
  }
  &__mainContainer{
    background:rgb(255, 255, 255);
    padding:2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: auto;
    margin-top:100px;
  }
  &__first__row__wrapper{
    
    display :flex;
    justify-content: space-between;
  }
  &__articles{  
    width:50%;
    
    background-color: rgb(255, 255, 255);
    &__modify{
    
    padding: 0 1rem;
    overflow:scroll;
    overflow-x: hidden;
    max-height:80vh;

    }


    &__item{
      
      display:flex;
      justify-content:space-between;
      background-color: whitesmoke;
      padding:1rem;
      border-radius: .5rem;
      margin-bottom: 1rem;
      transition:all .2s;
      &:hover{
        background:#5221c6;
        color:white;
      }
      &__image{
        height:50px;
      }
     &__stock{
       font-size:.8em;
     } 
  }
}
  // la partie des commandes
  &__orders {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
    &__container{
      width:45%;
    }

    display: flex;
    flex-direction: column;
    &__item{
      background-color: whitesmoke;
      padding:1rem;
      border-radius: .5rem;
      margin-bottom: 1rem;
      &:hover{
        background:#5221c6;
        color:white;
      }
      &--pending{
        background-color: #F8A5C2;
        &:hover{
          background:#ff8fb6;
          color:white;
        }
      }
    }

    // buttons of orders
    &__buttons {
      max-height: 200px;
      overflow: scroll;
      display: flex;
      justify-content: center;
      background-color: white;
      width: 100%;
      margin: 1rem 0;
    }
    &__button{
      background-color: white;
      width: 50%;
      color:black;
      border: 2px solid black;
      box-shadow: none;
      padding: 0.8rem 1rem;
      transition: 0.2s;
      
      &-true {
        background-color: black;
        color: white;
        transition: 0.2s;
      }

    }

  }
}