@use 'sass:color';
@use 'src/styles/vars';

.content {
  padding: vars.$gutter;

  &-title {
    font-size: 2em;
    color: vars.$color;
    margin-bottom: vars.$gutter;
    padding-bottom: vars.$gutter / 4;
    border-bottom: 1px solid color.scale(vars.$color, $alpha: -80%);
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  
}

.loading__icon{
  font-size: 3rem;
        margin-top: 3rem;
        animation: rotate-center 2s ease-in-out infinite both;

}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
