.loginform {
  
  text-align: center;
  display:flex;
  align-items: center;
  flex-direction: column;
  padding:0 1rem;
  margin:1rem auto;
  
  &__button{
    width: 100%;
    border:2px solid;
    box-shadow: none;
    background-color: #fff;
    padding:.5rem;
  }
  @media(min-width:768px){
    width:50%;
    max-width:500px;
  }
}
