.loginform {
  
  text-align: center;
  display:flex;
  align-items: center;
  flex-direction: column;
  padding:0 1rem;
  margin:1rem auto;
  
  &__button{
    width: 100%;
    border: 2px solid black;
    box-shadow: none;
    background-color: black;
    color: white;
    padding:.7rem;
    transition: 0.2s;

    &:hover {
      background-color: white;
      color: black;
      transition: 0.2s;
    }

    &:active {
      transform: scale(0.95);
    }

  }
  @media(min-width:768px){
    width:50%;
    max-width:500px;
  }
}
