@use 'src/styles/vars';
@use 'sass:color';

@media(max-width:3650px){

  .content-list {
    display: flex;
    justify-content: space-between;
  }

  .content-title {
    text-transform: capitalize;
  }

}