@use 'src/styles/vars';
@use 'sass:color';

@media(max-width:768px){

  .content-list {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    // margin: 1rem;
    // border: 2px solid red;
  }

}