.account{
  &__maincontainer{
    padding: 3rem 1rem;
    margin: auto;
  }

  &__title-name {
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 5rem;
  }

  &__info,
  &__address,
  &__orders {
    display: flex;
    flex-direction: column;
    width: 80%;
    @media(min-width: 751px) {
      width: 50%;
      text-align: left;
    }
    @media(min-width: 1250px) {
      width: 35%;
    }
    margin: 1rem auto;
    border-bottom: 1px solid grey;
  }

  &__subtitle {
    // text-decoration: underline;
    font-size: 1.5em;
    margin-bottom: 1rem;
  }

  &__item {
    margin-bottom: 1rem;

    &-tel {
      font-style: italic;
    }
    &-name,
    .account__title-name {
      font-weight: bold;
      text-transform: capitalize;
    }

  }

  &_item-orders {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 2px solid black;
    border-radius: 3px;
    margin: 0 auto 1rem auto;
    padding: 1rem;
    transition: 0.2s;

    &:hover {
      transform: scale(1.05);
      transition: 0.2s;
      background-color: black;
      color: white;
      border: 2px solid black;
    }
  }

  &__item-order-number {
    font-size: 0.8em;
    margin-bottom: 0.7em;
  }
  &__item-order-status {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.7em;
  }

  &__button{
    margin-top: 1rem;
    width: 80%;
    border:2px solid black;
    box-shadow: none;
    padding: 1rem;
    max-width:500px;
    background-color: black;
    color: white;
    transition: 0.2s;

    &:hover {
      background-color: #fff;
      color: black;
      border: 2px solid black;
      transition: 0.2s;
    }

    &:active {
      transform: scale(0.95);
    }
  }

}