.account{
  &__maincontainer{
    padding: 3rem 1rem;
 
    margin: auto;
  }
  &__info,&__address,&__orders{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    max-width:500px;
    margin:auto
  }
  &__subtitle{
    font-size:1.5em;
    margin-bottom: 1rem;
  }
  &__item{
    margin-bottom:1rem;
  }
  &__button{
    width: 100%;
    border:2px solid;
    box-shadow: none;
    background-color: #fff;
    padding:.5rem;
    max-width:500px;
  }

}