    .wrapper {
        margin-top: 20px;
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    .boxs {
        position: static;
        margin-bottom: 30px;
        background-color: rgb(201, 200, 200);
        border-radius: 0 5px 0 5px;
        filter: alpha(opacity=100);
        opacity: 1;
        -webkit-transition: opacity 0.25s ease-out;
        -moz-transition: opacity 0.25s ease-out;
        transition: opacity 0.25s ease-out;
        border-radius: 3px;
    }

    .project_widget .pw_img {
        position: static;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2rem;
    }

    .project_widget .pw_img:before {
        position: absolute;
        top: 0;
        left: -75%;
        z-index: 2;
        display: block;
        content: '';
        width: 50%;
        height: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
        transform: skewX(-25deg)
    }

    .project_widget .pw_img:hover::before {
        animation: shine .75s
    }

    @-webkit-keyframes shine {
        100% {
            left: 125%
        }
    }

    @keyframes shine {
        100% {
            left: 125%
        }
    }

    .project_widget .pw_img img {
        border-radius: 3px 3px 0 0
    }

    .project_widget .pw_content .pw_header {
        padding: 20px;
        border-bottom: 1px solid #e6eaee
    }

    .project_widget .pw_content .pw_header h6 {
        font-size: 16px;
        margin: 0
    }

    .project_widget .pw_content .pw_header small {
        font-size: 12px
    }

    .project_widget .pw_content .pw_meta {
        padding: 20px
    }

    .project_widget .pw_content .pw_meta small,
    .project_widget .pw_content .pw_meta span {
        display: block;
    }

    .project_widget .pw_content .pw_meta span {
        font-weight: 500
    }
    /* CSS REVIEW */

    .d-flex {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .card_profil {
        box-sizing: border-box;
        width: 15rem;
        padding: 0;
    }

    .img-responsive {
        width: 280px;
    }

    .card_text {
        width: 80%;
        border: 1.5px solid black;
        margin: 1rem auto;
        padding: 1rem;
    }