@use 'src/styles/vars';
@use 'sass:color';

.card {
  
  border: 1px solid #ddd;
  width: 100%;
  max-height:50vh;
  margin-top: vars.$gutter;
  overflow: hidden;
  
  @media(min-width:768px){
    width:200px;
    height:200px
  }


    &:hover {
      background-color: filter();
    }
}
