@use 'src/styles/vars';

.contactForm {
    width: 80%;
    background: white;
    border-radius: 1rem;
    border: 1px solid rgb(0, 0, 0);
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8rem;
    margin: 10rem auto 2rem;
}

#contact-form {
  width: 100%;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
}

// .container {
//   margin: 1rem auto;
// }

// .row {
//   margin: 1rem auto;

//   &__formRow {
//     text-align: center;
//     margin-right: 9rem;
//   }
// }

// .col-12 {
//   margin: 1rem auto;
//   &__text-cente {
//     text-align: center;
//     margin-right: 9rem;
//   }
// }

// .col-6 {
//   margin:1rem auto ;
//   &__text-center{
//     text-align: center;
//   }
// }

// #contact-form {
//   width: 80%;
//   margin: 1.5 auto;
// }

// .form-control {
//   text-align: center;
//   &__formInput{
//     margin: .5rem auto;
//     margin-left: .5rem;
//   }
// }

// .errorMessage {
//   margin: 1rem auto;
//   color: red;
// }

// .col {
//   margin: 1rem auto;
//   width: 100%;
// }
// .submit-btn {
//   margin: 1rem auto;
// }

// input{
//   font-size: none;
// }