
.field{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items: flex-start;
  margin-bottom:.5rem;

  &__input{
    margin-bottom:.5rem;
    width:100%;
    padding:.5rem
  }
  &__label{
    margin-bottom:.5rem;
    font-size:.8em
  }
}
