@use 'src/styles/vars';
.header {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 20px 20px -25px rgba(0, 0, 0, .4);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    &__button {
        font-size: 2em;
        position: absolute;
        background: #fff;
        padding: none;
        border: none;
    }
    &__logo {
        margin-left: 50%;
        transform: translateX(-50%);
    }
    &__buttons {
        display: flex;
        // position: relative;
        @media (max-width:768px) {
          justify-content: space-around;
          width: 85%;
        }
        
        &__btn {
            font-size: .8em;
            margin: 0 .5rem
        }
    }
    &__main {
        align-items: center;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    &__nav {
        display: none;
    }
    @media (min-width:768px) {
        &__main {
            padding: 1rem;
        }
        &__button {
            display: none;
        }
        &__logo {
            margin-left: 50%;
            transform: translateX(-50%);
        }
        &__nav {
            display: flex;
            &__link {
                padding: .5rem;
                text-transform: capitalize;
            }
        }
    };
}

.logo {
  height: 30px;
  width: 30px;

  &-account {
    
  }

  &-cart {
    // margin-right: 30px;
  }


}

.header__buttons-cart {
  position: relative;
  // border: 2px solid red;
}

.header__mobile-count {
  position: fixed;
  border: 1px solid black;
  // top: 50%;
  // left: 69%;
  font-size: .7em;
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 3.5px;
  transform: translate(90%, -90%);
}

.header__project-title {
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 2px;

  &-i {
    color: rgb(65, 43, 179);
    // text-transform: lowercase;
    font-size: 1.2em;
  }
}